
@model RegistroDeVentas.Entities.VentasViewModel
@{
    Layout = "_LayoutAdmin";
}

@section Header{
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RegistroDeVentas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="PresentacionWeb3" asp-action="RegistrarVenta">Registrar Venta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="PresentacionWeb3" asp-action="VerResultado">Ver Resultado</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
}
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>

<form action="/PresentacionWeb3/RegistrarVenta" method="post">
    @Html.AntiForgeryToken()
    <div>
        Cliente: <input asp-for="Cliente"/> 
        <span asp-validation-for="Cliente" class="text-danger"></span>
    </div>
    <div>
        Cantidad Vendida: <input asp-for="CantidadVendida"/> 
        <span asp-validation-for="CantidadVendida" asp-validation-summary="ModelOnly" class="text-danger"></span>
    </div>
    <div>
        Precio Unitario: <input asp-for="PrecioUnitario"/> 
        <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
    </div>

    <input type="submit" name="RegistrarVenta" value="RegistrarVenta" />
</form>



@section Footer{
<div>
    Acosta Julio  Rodrigo 36274655 hincha de boca,
    alias el Polaco, deja de llorar,
    deja de sufrir que ya no puedo verte mas asi
</div>
}